/* Gris oscuro */
/* Gris claro */
/* Verde oscuro */
/* Verde claro */
body {
  background-image: radial-gradient(#626262, #444444);
  background-size: cover;
  height: 80vh;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
